@model IEnumerable<DrugsService.Model.Drug>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrugName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concentration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PharmaceuticalForm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Holder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concentration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PharmaceuticalForm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
